/IELTS_PTE_API/IELTS_PTE.Business/obj
/IELTS_PTE_API/IELTS_PTE.Business/bin
/IELTS_PTE_API/IELTS_PTE.Common/bin
/IELTS_PTE_API/IELTS_PTE.Common/obj
/IELTS_PTE_API/IELTS_PTE.DataAccess/obj
/IELTS_PTE_API/IELTS_PTE.DataAccess/bin
/IELTS_PTE_API/IELTS_PTE_API/obj
/IELTS_PTE_API/IELTS_PTE_API/bin
/IELTS_PTE_API/.vs
