<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container"><a href="./" class="navbar-brand"><img src="../../assets/img/logo.svg" alt="" class="img-fluid"></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars ml-2"></i></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
                <!-- Link-->
                <li class="nav-item"> <a href="admin/questions" class="nav-link active">Admin Panel</a></li>
                <!-- Link-->
                <!-- <li class="nav-item"> <a href="faq.html" class="nav-link">FAQ</a></li> -->
                <!-- Link-->
                <!-- <li class="nav-item"> <a href="contact.html" class="nav-link">Contact</a></li> -->
                <!-- Link-->
                <!-- <li class="nav-item"> <a href="text.html" class="nav-link">Text Page</a></li> -->
            <!-- <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">filling-the-blanks</a>
              <div class="dropdown-menu">
                <a href="#filling-the-blanks" class="dropdown-item">filling-the-blanks question display</a> -->
                <!-- <a href="contact.html" class="dropdown-item">Contact</a>
                <a href="text.html" class="dropdown-item">Text Page</a> -->
              <!-- </div>
            </li> -->
            <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Reading</a>
              <div class="dropdown-menu">
                <a href="filling-the-blanks" class="dropdown-item">filling the blanks</a>
                <a href="reading-writing-fill-in-blanks" class="dropdown-item">reading writing fill in blanks</a>
                <a href="re-order-paragraph" class="dropdown-item">re order paragraph</a>
                <a href="reading-multiple-choice" class="dropdown-item">multiple choice</a>
                <a href="reading-single-choice" class="dropdown-item">single choice</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Speaking</a>
              <div class="dropdown-menu">
                <a href="repeat-sentence" class="dropdown-item">repeat sentence</a>
                <a href="read-aloud" class="dropdown-item">read aloud</a>
                <a href="answer-short-question" class="dropdown-item">answer short question</a>
                <a href="re-tell-lecture" class="dropdown-item">re-tell lecture</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Listening</a>
              <div class="dropdown-menu">
                <a href="write-from-dictation" class="dropdown-item">write from dictation</a>
                <a href="fill-in-blanks" class="dropdown-item">fill in blanks</a>
                <a href="highlight-incorrect-words" class="dropdown-item">highlight incorrect words</a>
                <a href="highlight-correct-summary" class="dropdown-item">highlight correct summary</a>
                <a href="select-missing-word" class="dropdown-item">select missing word</a>
                <a href="summaries-spoken-text" class="dropdown-item">summaries spoken text</a>
                <a href="listening-multiple-choice" class="dropdown-item">multiple choice</a>
                <a href="listening-single-choice" class="dropdown-item">single choice</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Writing</a>
              <div class="dropdown-menu">
                <a href="essay-writing" class="dropdown-item">Essay Writing</a>
                <a href="summarise-writte-text" class="dropdown-item">Summarise Writte Text</a>
              </div>
            </li>
          </ul><a href="#" data-toggle="modal" data-target="#login" class="btn btn-primary navbar-btn ml-0 ml-lg-3">Login </a>
        </div>
      </div>
    </nav>
  </header>
  <!-- Login Modal-->
  <div id="login" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade bd-example-modal-lg">
    <div role="document" class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body p-4 p-lg-5">
          <form action="#" class="login-form text-left">
            <div class="form-group mb-4">
              <label>Email address</label>
              <input type="email" name="email" placeholder="name@company.com" class="form-control">
            </div>
            <div class="form-group mb-4">
              <label>Password</label>
              <input type="password" name="password" placeholder="Min 8 characters" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>