.questionTitle{
    color: #fff;
    background-color: #0069d9;
    padding: 10px;
    text-align: center;
}

.questionBox{
    border: 1px solid #0069d9;
    border-top: 0px solid;
    padding-top: 30px;
    padding-bottom: 20px;
}

.questionBoxButton{
    border-radius: 0px;
    min-width: 100%;
}