<app-header></app-header>
<section>
        <div class="container">
          <header class="section-header">
            <h2 class="mb-2">Fill In The Blanks</h2>
          </header>
          <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-12 questionTitle"><h4>Reading</h4></div>
                <div class="col-lg-12 questionBox">
                    <div class="col-lg-12"><b>Fill In The Blanks</b></div>
                    <div class="col-lg-12"><p>#Questions : 0</p></div>
                    <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('filling-the-blanks/list')" class="btn btn-primary questionBoxButton"></div>
                </div>
                <div class="col-lg-12 questionBox">
                        <div class="col-lg-12"><b>Reading and Writing Fill In The Blanks</b></div>
                        <div class="col-lg-12"><p>#Questions : 0</p></div>
                        <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('reading-writing-fill-in-blanks/list')" class="btn btn-primary questionBoxButton"></div>
                </div>
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Re-Order Paragraph</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('re-order-paragraph/list')" class="btn btn-primary questionBoxButton"></div>
                </div>  
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Multiple Choice</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('reading-multiple-choice/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Single Choice</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('reading-single-choice/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12 questionTitle"><h4>Writing</h4></div>
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Writing Essay</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('essay-writing/list')" class="btn btn-primary questionBoxButton"></div>
                </div>  
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Writing Summarise Writte Text</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('summarise-writte-text/list')" class="btn btn-primary questionBoxButton"></div>
                </div>  
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12 questionTitle"><h4>Speaking</h4></div>
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Repeat Sentence</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('repeat-sentence/list')" class="btn btn-primary questionBoxButton"></div>
                </div>  
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Read Aloud</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('read-aloud/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Answer Short Question</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('answer-short-question/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Re-Tell Lecture</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('re-tell-lecture/list')" class="btn btn-primary questionBoxButton"></div>
                </div>
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Describe Image</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('describe-image/list')" class="btn btn-primary questionBoxButton"></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12 questionTitle"><h4>Listening</h4></div>
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Write from Dictation</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('write-from-dictation/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Fill In Blanks</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('fill-in-blanks/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Highlight Incorrect Words</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('highlight-incorrect-words/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Highlight Correct Summary</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('highlight-correct-summary/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Select Missing Word</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('select-missing-word/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Summaries Spoken Text</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('summaries-spoken-text/list')" class="btn btn-primary questionBoxButton"></div>
                </div>  
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Multiple Choice</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('listening-multiple-choice/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
                <div class="col-lg-12 questionBox">
                  <div class="col-lg-12"><b>Single Choice</b></div>
                  <div class="col-lg-12"><p>#Questions : 0</p></div>
                  <div class="col-lg-12"><input type="button" value="Setup" (click)="pageRedirct('listening-single-choice/list')" class="btn btn-primary questionBoxButton"></div>
                </div> 
            </div>
          </div>
        </div>
      </section>
<app-footer></app-footer>